@charset "UTF-8";
<!-- allTicketingList -->





  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  fieldset {
    border: none;
	
  }
 

  #buttons {
    text-align: center;
  }
  }

  legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }

  textarea {
    height: 200px;
  }

  .clear {
    clear: both;
  }

  #buttons {
    margin-top: 20px;
  }

  .submit,
  .cancel {
    padding: 5px 10px;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  hr{
   width: 50%;
  } 